<Project DefaultTargets="ExtractAppHostToOutput">

  <PropertyGroup>
    <NativeExecutableExtension Condition=" $(Rid.StartsWith('win'))">.exe</NativeExecutableExtension>
    <AppHostExecutableName>AppHost$(NativeExecutableExtension)</AppHostExecutableName>
  </PropertyGroup>

  <Target Name="ExtractAppHostToOutput"
          Condition="!Exists('$(AppHostTemplatePath)/$(AppHostExecutableName)')"
          DependsOnTargets="EnsureAppHostPackageRestored">

    <Message Text="Restore $(TemplateFillInPackageName) from $(AppHostIntermediateDirectory) to $(AppHostTemplatePath)."
             Importance="High" />

    <ItemGroup>
      <AllFileOfRestoredAppHostPackage Include="$(AppHostIntermediateDirectory)/**/*.*" />
      <NativeRestoredAppHostNETCore
          Include="@(AllFileOfRestoredAppHostPackage)"
          Condition="'%(FileName)%(Extension)' == '$(AppHostExecutableName)'"/>
    </ItemGroup>

    <Error Condition="@(NativeRestoredAppHostNETCore->Distinct()->Count()) != 1"
           Text="Failed to determine the $(_NETCoreDotNetAppHostPackageName) executable in $(AllFileOfRestoredAppHostPackage)" />

    <UsingTask TaskName="EmbedAppNameInHost"
                AssemblyName = "$(MSBuildThisFileDirectory)/../../buildproject/bin/$(Configuration)/$(TargetFramework)/buildproject.dll" />


    <!--.store/t-rex/1.0.0-preview1-003/t-rex/1.0.0-preview1-003/tools/netcoreapp2.1/any-->

    <EmbedAppNameInHost
        AppHostSourceFilePath="@(NativeRestoredAppHostNETCore->Single())"
        AppHostDestinationFilePath="$(AppHostTemplatePath)/$(TargetName)$(NativeExecutableExtension)"
        AppBinaryFilePath=".store/$(PackageId)/$(PackageVersion)/$(PackageId)/$(PackageVersion)/tools/$(AppTargetFramework)/any/$(TargetName)$(NativeExecutableExtension)"/>

    <Message Text="Copy from @(NativeRestoredAppHostNETCore) to $(AppHostTemplatePath)."
             Importance="High" />

  </Target>

  <Target Name="SetProperties">
    <PropertyGroup>
      <TemplateFillInPackageName>microsoft.netcore.dotnetapphost</TemplateFillInPackageName>
      <TemplateFillInPackageVersion>2.1.0-preview3-26406-06</TemplateFillInPackageVersion>
      <AppTargetFramework>netcoreapp2.1</AppTargetFramework>
      <Rid>win-x64</Rid>
      <AppHostTemplatePath>$(OutputPath)/shims</AppHostTemplatePath>
      <AppHostIntermediateDirectory>$(IntermediateOutputPath)</AppHostIntermediateDirectory>
    </PropertyGroup>

    <PropertyGroup>
      <NativeExecutableExtension Condition=" $(Rid.StartsWith('win'))">.exe</NativeExecutableExtension>
      <AppHostExecutableName>AppHost$(NativeExecutableExtension)</AppHostExecutableName>
    </PropertyGroup>
  </Target>

  <Target Name="EnsureAppHostPackageRestored" DependsOnTargets="SetProperties">

    <MSBuild
      BuildInParallel="False"
      Targets="Restore"
      Properties="RuntimeIdentifiers=$(Rid);TargetFramework=$(AppTargetFramework);TemplateFillInPackageName=$(TemplateFillInPackageName);TemplateFillInPackageVersion=$(TemplateFillInPackageVersion);RestorePackagesPath=$(AppHostIntermediateDirectory)"
      Projects="$(MSBuildThisFileDirectory)/template.csproj">
    </MSBuild>
  </Target>
</Project>